html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
    margin: 0;
    background-image: linear-gradient(to bottom right, white, lightblue, purple);
}

footer {
    justify-content: end;
}

header textarea {
    margin: 1em;
}

header button {
    margin: 1em;
    border-radius: 1em;
}

header h1 {
    align-content: center;
    justify-content: center;
}

button {
    width: 1rem;
    height: 5rem;
    margin: .5em;
}

/* #breakfast {
    width: 1rem;
    height: 5rem;
    margin: .5em;
}

#lunch {
    width: 1rem;
    height: 5rem;
    margin: .5em;
}

#dinner {
    width: 1rem;
    height: 5rem;
    margin: .5em;
} */

ul {
    list-style: none;
}

#week-meals button  {
    font-size: 12px;
    border-radius: 5px;
    height: auto;
    margin: .2em;
}

#submit button {
    width:auto;
}